- provide(:title, 'Главная')
%h2 Главная
%p Кэширование страницы это механизм Rails, позволяющий запросу на сгенерированную страницу быть полностью обслуженным вебсервером (т.е. Apache или nginx) в принципе, без прохождения через стек Rails. Очевидно, это очень быстро. К сожалению, это не может быть применено к каждой ситуации (например, к страницам, требующим аутентификации), и, так как вебсервер фактически извлекает файл из файловой системы, придется иметь дело с вопросом времени хранения кэша.
-if user_signed_in?
  %p
    = current_user.username
  %p
    = current_user.email
  %p
    = current_user.current_sign_in_ip
  -if current_user.admin?
    Привет админ