%footer.footer
  %small
    %p
      Made by 
      = link_to "Vitaminus", "http://goo.gl/3fx5T", class: "powered_by", target: "_blank"
      2013
  %nav
    %ul
      %li= link_to "О нас", about_path
      %li= link_to "Обратная связь", "#"
      %li= link_to "Помощь", help_path